avalanche
drawGeometry
gain
ibf
plotField
signal
spectrumFe55

aglaenze.cc

Process.sh
ComputeSignal.sh
clean.sh

Figures
COMSOL_data
rootFiles
input*

*Test*
*copie*

.DS_Store

output
log
error
*test*

*.root
*.sub
